.button {
    border-radius: 2px;
    border: 1px solid var(--inaction-week-color);
    padding: 0.2em 0.4em;
    font-size: var(--small-font-size);

    background-color: transparent;
    color: var(--noninteractive-color);
}

.button:hover {
    color: var(--hover-color);
    border: 1px solid var(--hover-color);
    cursor: pointer;
}

.button:active,
.button[active] {
    color: var(--panel-color);
    background-color: var(--selecte-color);
    border: 1px solid transparent;
}

.button:disabled {
    color: var(--inaction-color);
    border: 1px solid var(--inaction-color);
    background-color: transparent;
    cursor: default;
}

.iconBtn {
    stroke: var(--inaction-color);
    stroke-width: 2px;
    fill: transparent;
    padding: 0;

    background-color: transparent;
    text-align: center;
    border: none;
    padding: 0.2em 0.5em;
}

.iconBtn:hover {
    stroke: var(--hover-color);
    cursor: pointer;
}

.iconBtn[active],
.iconBtn:active {
    stroke: var(--action-color);
}

.switchBtn {
    border-radius: 10px;
    border: none;
    width: 28px;
    background-color: var(--inaction-bg-color);
}

.switchToggle {
    border-radius: 50%;
    margin: 2px;
    height: 12px;
    width: 12px;
    background-color: var(--inaction-color);
}

.selectBtn {
    border: 2px solid var(--inaction-color);
    background-color: transparent;
}

.selectBtn[active] {
    border: 2px solid var(--noninteractive-color);
}

.selectBtn:hover {
    border: 2px solid var(--hover-color);
}

.selectToggle {
    margin: 2px;
    height: 4px;
    width: 4px;
    background-color: transparent;
}

.selectToggle[active] {
    background-color: var(--action-color);
}

.selectBtn:hover .selectToggle[active] {
    background-color: var(--hover-color);
}