.pickerArea {
    width: 140px;
    height: 140px;
    background: linear-gradient(transparent, black), linear-gradient(to left, transparent, white);
    background-color: red;
}

.hue {
    width: 18px;
    height: 140px;
    background: linear-gradient(red, yellow, lime, cyan, blue, magenta, red);
}

.hue[horizontal] {
    width: 140px;
    height: 4px;
    background: linear-gradient(to right, red, yellow, lime, cyan, blue, magenta, red);
}

.hueSliderPicker {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid var(--noninteractive-color);
    position: absolute;
}

.hueSliderPicker:hover {
    border: 2px solid var(--hover-color);
}

/* .hueSliderPicker[disabled] {
    border: 2px solid var(--noninteractive-week-color);
} */