.area {
    display: flex;
    flex-direction: column;
    align-items: center;

    --black-color: rgb(23, 18, 18)
}

.canvas {
    background-color: var(--black-color);
}

.canvas[active],
.canvas:hover {
    background-color: #fff;
}

.strucLine {
    fill: transparent;
    stroke: white;
    stroke-width: 2px;
}

.canvas[active]>.strucLine,
.canvas:hover>.strucLine {
    stroke: var(--black-color);
}