.allocateTab {
    width: 100%;
}

.allocateTab th:not(:last-child) {
    width: 24px;
    white-space: nowrap;
}

.allocateTab th:last-child {
    width: 100%;
}

.allocateTab td:last-child {
    text-align: left;
}

.allocateTab td:last-child {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.allocateTab tbody tr:nth-child(odd) {
    background-color: var(--panel-color);
}

.allocateTab tfoot td:first-child {
    text-align: right;
}