.allocateTab {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.allocateTab th:not(:last-child) {
    width: 24px;
    white-space: nowrap;
}

.allocateTab th:last-child {
    width: 100%;
}

.allocateTab td:not(:last-child) {
    text-align: center;
}

.allocateTab td:last-child {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.allocateTab tbody tr:nth-child(odd) {
    background-color: var(--panel-color);
}

.allocateTab th,
.allocateTab td {
    padding: 4px;
}

.allocateTab tfoot td {
    text-align: right;
}