:root {
    --background-color: #2b2a33;

    --noninteractive-color: #9b9ba3;
    --noninteractive-week-color: #535353;
    --noninteractive-bg-color: #545458;

    --action-color: #b3b3b3;
    --action-week-color: #555555;

    --run-color: #30b346;

    --inaction-color: #58585f;
    --inaction-week-color: #4f4f58;
    --inaction-bg-color: #35353a;

    --hover-color: #fff;

    --panel-color: #131216;
    --subpanel-color: #242428;
    --float-panel-color: #323233;

    --selecte-color: #39a597;

    --error-color: #ff3f00;

    --title-font-size: 12px;
    --content-font-size: 12px;
    --small-font-size: 10px;

    --default-padding: 0.7em;

    color-scheme: dark;
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-size: var(--content-font-size);
}

h1 {
    font-size: var(--title-font-size);
    letter-spacing: .1em;
}

hr {
    border: none;
    border-top: 1px solid var(--noninteractive-week-color);
}

hr[vertical] {
    border: none;
    border-left: 1px solid var(--noninteractive-week-color);
    height: 1em;
}