:root {
    --noninteractive-color: #a3a3a3;
    --noninteractive-week-color: #535353;

    --action-color: #b3b3b3;
    --action-week-color: #555555;

    --run-color: #30b346;

    --inaction-color: #3d3d44;
    --inaction-week-color: #373741;

    --hover-color: #fff;

    --panel-color: #131216;
    --float-panel-color: #323233;

    --selecte-color: #398fa5;

    --title-font-size: 14px;
    --content-font-size: 12px;
    --small-font-size: 10px;

    color-scheme: dark;
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-size: var(--content-font-size);
}

h1 {
    font-size: var(--title-font-size);
}

hr {
    border: none;
    border-top: 1px solid var(--noninteractive-week-color);
    margin: 4px 0;
}