.input {
    height: 1.6em;
    box-sizing: border-box;
    border: 2px solid var(--inaction-bg-color);
    outline: none;
    border-radius: 2px;
    background-color: var(--inaction-bg-color);
    padding: 0 .2em;
    color: var(--noninteractive-color);
}

.input:disabled {
    color: var(--noninteractive-week-color);
}

.input:focus {
    border: 2px solid var(--selecte-color);
}

.inputContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.clearBtn {
    position: absolute;
    right: 0;
    margin-right: .6em;

    height: 12px;
    width: 12px;

    stroke-width: 1px;
    stroke: var(--inaction-color);
    fill: transparent;
}

.clearBtn:hover {
    stroke: var(--hover-color);
    cursor: pointer;
}