.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.horizontal[spacing]>*:not(:last-child) {
    margin: 0 .8em 0 0;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.vertical[spacing]>*:not(:last-child) {
    margin: 0 0 .8em 0;
}