.labelList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.labelList>*:not(:last-child) {
    margin: 0 .6em 0 0;
}

.labelListItem {
    background-color: var(--noninteractive-bg-color);
    color: var(--panel-color);
    border-radius: 2px;
    padding: 0.15em 0.4em;
}