.menu {
    position: fixed;
    min-width: 180px;
    padding: .4em;
    z-index: 1;

    background-color: var(--float-panel-color);
    box-shadow: 0 0 6px #00000088;
}

.menu li {
    margin: 0.2em 0;
}

.menuItem {
    font-size: var(--small-font-size);
    line-height: var(--small-font-size);
    background-color: transparent;
    color: var(--noninteractive-color);
    border-radius: 2px;
    border: none;
    padding: 0.5em;
    width: 100%;
    text-align: start;
}

.menuItems {
    font-size: var(--small-font-size);
    line-height: var(--small-font-size);
    background-color: transparent;
    color: var(--noninteractive-color);
    border-radius: 2px;
    border: none;
    padding: 0.5em;
    text-align: start;

    stroke: var(--noninteractive-week-color);
    stroke-width: 1px;
    fill: transparent;
}

.shortcut {
    float: right;
    color: var(--noninteractive-week-color);
}

.menuItems:hover,
.menuItem:hover,
.menuItem:hover .shortcut {
    color: var(--hover-color);
    background-color: var(--selecte-color);
    cursor: pointer;

    stroke: var(--hover-color);
}