.panel {
    border: 1px solid var(--inaction-week-color);
    background-color: var(--panel-color);
    margin-left: -1px;
    margin-bottom: -1px;
}

.floatPanel {
    border: none;
    background-color: var(--float-panel-color);
    box-shadow: 10px 10px 5px #888888;
}