.area {
    width: 100%;
    height: 100%;
    position: relative;
}

.area>ul {
    display: flex;
    flex-wrap: wrap;
}

.scrollbar {
    width: 10px;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;

    transition: background-color .4s;
}

.area:hover>.scrollbar {
    transition: background-color .4s;
    background-color: var(--noninteractive-week-color);
}

.padding {
    width: 100%;
}