.canvas {
    width: 160px;
    height: 160px;
    background-color: rgb(23, 18, 18);
    margin: .6em;
}

.area:hover .canvas {
    background-color: #fff;
}

.area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 5px;
    margin: 0 10px;
}

.area:hover {
    background-color: var(--selecte-color);
    color: #fff;
}